.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
    border: 1px solid white;
    margin: 0;
    padding: 0 10px;
    border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75)!important;
    border: 1px solid rgba(255, 255, 255, 0.75);
    margin: 0;
    padding: 0 10px;
    border-radius: 10px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}

.dropdown-toggle {
    color: #ffffff;
    font-size: 2rem;
}

.dropdown-toggle::after {
    color: #ffffff;
    display: none;
}

.bg{
    color: #696de9;
    padding: 0 1vw;
    /*margin: 0;
    
    font-family: sans-serif;
    background: linear-gradient(-135deg, rgba(106, 189, 226, 0.75), rgba(105, 109, 233, 0.75)), url("https://cdn.discordapp.com/attachments/719267602886688829/720133822058070076/Untitled-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

