.container {
    background-color: white;
    box-shadow: 2px 2px 5px rgb(98, 96, 179);
    border-radius: 1rem;
    padding: 2rem;
}

.title {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 2rem;
    color: #696de9;
    margin: 1rem 1rem 1rem;
}

.subtitle {
    font-family: "Poppins", Helvetica, sans-serif;
    color: #696de9;
    margin: 1rem 2rem;
    font-size: 1rem;
}
.inputBox {
    margin-left: 30px;
}

.banner {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}