.title {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(55, 58, 143, 0.6);
    color: white;
    margin: 1vh;
}

.subtitle {
    font-family: "Poppins", Helvetica, sans-serif;
    color: white;
    margin: 30px;
    font-size: 30px;
}
.inputBox {
    margin-left: 30px;
}
